@media screen and (max-width: 1200px) {
    .nav-link {
        font-size: 18px;
        padding: 45px 0;
    }

    .logo-header-img {
        width: 350px;
        height: auto;
    }

    .main-post .list-posts {
        grid-template-columns: repeat(3, 250px);
    }
    .heading-primary {
        font-size: 140px;
    }

    .heading-quinary {
        font-size: 36px;
    }

    .desc {
        font-size: 18px;
    }
}

@media screen and (max-width: 992px) {
    .main-header {
        padding-left: 32px;
        padding-right: 32px;
    }

    .logo-header-img {
        width: 280px;
    }

    .nav-link {
        font-size: 14px;
        padding: 36px 0;
    }

    .post-title--featured {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .overall .post-title,
    .post-title--featured {
        font-size: 48px;
    }

    .post-desc--featured,
    .overall .post-desc {
        font-size: 18px;
    }

    .featured-post {
        padding-top: 64px;
    }

    .main-post .list-posts {
        grid-template-columns: repeat(3, 1fr);
    }

    .read-me-header {
        padding: 32px 80px;
    }
    .main-content {
        padding: 0 80px;
        margin-bottom: 200px;
    }

    a:has(.fa-facebook-messenger) {
        display: block !important;
    }

    .sharing .item span {
        display: none;
    }

    .sharing-wrapper .title {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .main-header {
        padding-left: 20px;
        padding-right: 20px;
    }

    .logo-header {
        padding: 32px 0;
    }

    .main-nav {
        display: none;
    }

    .menu-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .post-title--featured {
        padding-top: 36px;
        padding-bottom: 28px;
    }

    .overall .post-title,
    .post-title--featured {
        font-size: 42px;
    }

    .post-desc--featured,
    .overall .post-desc {
        font-size: 16px;
    }

    .featured-post {
        padding-top: 52px;
        padding-bottom: 52px;
    }

    .all-articles .list-posts {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px;
        gap: 20px;
    }

    .detail-wrapper > :not(.detail),
    .detail-wrapper .detail > :not(figure) {
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-post .list-posts {
        grid-template-columns: repeat(2, 1fr);
    }

    .read-me-header {
        padding: 32px;
        margin-bottom: 60px;
    }
    .main-content {
        padding: 0 32px;
        margin-bottom: 150px;
    }

    .main-content {
        gap: 60px;
    }

    .heading-primary {
        font-size: 100px;
    }

    .heading-quinary {
        font-size: 28px;
    }

    .desc {
        font-size: 14px;
    }

    .version {
        font-size: 16px;
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 576px) {
    .post-title--featured {
        padding-top: 32px;
        padding-bottom: 24px;
    }

    .overall .post-title,
    .post-title--featured {
        font-size: 36px;
    }

    .post-desc--featured {
        margin: 0 20px;
    }

    .overall .post-desc {
        margin: 24px 0 36px 0;
    }

    .heading-secondary {
        font-size: 32px;
        margin-bottom: 29px;
    }

    .all-articles {
        padding: 56px 0;
    }

    .list-posts .post-img {
        width: 100%;
    }

    .main-post .list-posts .post-item:nth-child(3) ~ .post-item {
        display: none;
    }

    .all-articles .list-posts,
    .main-post .list-posts {
        grid-template-columns: 1fr;
    }

    .home-page .list-posts .post-item:nth-child(n + 7) {
        display: none;
    }

    .as-featured-in .feature {
        font-size: 16px;
    }

    .main-footer {
        padding: 88px 44px 32px 44px;
    }

    .author {
        flex-wrap: wrap;
        gap: 23px;
        margin-bottom: 32px;
    }

    .author-intro,
    .author-networks {
        width: 100%;
    }
    .author-networks .network {
        width: 50%;
        text-align: center;
    }

    .author-bio .author-avatar {
        margin-right: 16px;
    }

    .heading-primary {
        font-size: 82px;
    }

    .version {
        font-size: 14px;
    }

    .heading-quinary {
        font-size: 26px;
    }

    .desc {
        font-size: 13px;
    }

    .read-me-header {
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 480px) {
    .logo-header-img {
        width: 220px;
    }

    .btn--submit {
        left: 0;
        top: 105%;
    }

    .form {
        margin-bottom: 48px;
    }

    .heading-primary {
        font-size: 56px;
    }

    .version {
        font-size: 12px;
    }

    .heading-quinary {
        font-size: 24px;
    }

    .desc {
        font-size: 10px;
    }

    .about-me {
        font-size: 13px;
    }

    .detail p:nth-child(odd),
    .detail ul {
        display: none;
    }
}
