/* HEADER  */
.logo-header {
    display: block;
}

.logo-header-img {
    width: 397px;
    height: 39px;
    display: block;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    padding-left: 63.58px;
    padding-right: 61px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
}

.nav-menu {
    display: flex;
    gap: 36px;
}

.nav-link {
    font-family: 'New York', serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    display: block;
    padding: 49px 0;
    border-bottom: 2px solid #fff;
}

.nav-link:hover {
    border-bottom-color: #000;
}

.menu-bar {
    width: 24px;
    height: 17px;
    display: none;
    cursor: pointer;
}

.menu-bar__line {
    width: 100%;
    height: 2px;
    background-color: #000;
}

/* MAIN  */
.post-title--featured {
    font-size: 54px;
    padding: 44px 20px 32px 20px;
}

.post-desc--featured {
    font-size: 20px;
    padding: 0 20px;
    margin: 0 120px;
}

/* featured post  */
.featured-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 854px;
    margin: 0 auto;
    padding-top: 77px;
    padding-bottom: 34px;
}

/* all articles  */
.all-articles {
    padding: 64px 0;
}

.as-featured-in {
    display: flex;
    justify-content: center;
    gap: 13px;
    background-color: #000;
    padding: 18px 0;
    overflow: hidden;
}

.as-featured-in .feature {
    font-family: 'SF Pro Text';
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #fff;
    min-width: fit-content;
}

.as-featured-in .feature:nth-child(odd) {
    font-weight: 700;
}

/* FOOTER  */
.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 88px 20px 32px 20px;
}

.about-me {
    font-family: 'New York';
    line-height: 1.4;
    max-width: 488px;
    margin-top: 26px;
    margin-bottom: 32px;
}

.social-networks .network-link {
    color: inherit;
    text-decoration: underline;
    margin-right: 27px;
}

.social-networks .network-link:last-child {
    margin-right: 0;
}

.copyright {
    font-family: 'SF Pro Text';
    font-size: 12px;
    line-height: 1.4;
    margin-top: 64px;
}

/* POST  */
.detailed-post {
    margin-top: 52px;
    margin-bottom: 100px;
}

.overall {
    margin-bottom: 32px;
}

.overall .overall-header {
    max-width: 818px;
    margin: 0 auto;
    padding: 0 20px;
}

.overall .post-title {
    font-size: 54px;
}

.overall .post-desc {
    font-size: 20px;
    margin: 32px 80px 52px 80px;
}

.overall .post-img {
    width: 100%;
}

.detail-wrapper {
    max-width: 854px;
    margin: 0 auto;
}

.detail-wrapper > :not(.detail),
.detail-wrapper .detail > :not(figure) {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.author {
    font-family: 'SF Pro Text';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    margin-bottom: 29px;
}

.author-intro {
    display: flex;
    align-items: center;
    gap: 16px;
}

.author-avatar {
    border-radius: 50%;
}

.author-name {
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.author-networks {
    display: flex;
    align-items: center;
    border: 1px solid #eaeaea;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.network-icon {
    font-size: 20px;
}

.author-networks .network:not(:last-child) {
    border-right: 1px solid #eaeaea;
}

.author-networks .network {
    padding: 10px 25px;
}

.detailed-post {
    font-family: 'New York', serif;
}

.detailed-post .detail {
    font-size: 20px;
    margin-bottom: 77px;
}

.detailed-post .detail p {
    line-height: 1.7;
    margin-bottom: 32px;
}

.detailed-post .detail ul {
    margin-top: -15px;
    padding-left: 20px;
    margin-bottom: 32px;
    list-style-type: disc;
    font-size: inherit;
}

.detailed-post .detail ul li:not(:last-child) {
    margin-bottom: 24px;
}

.sharing-wrapper .title {
    font-family: 'SF Pro Text';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 9px;
    display: none;
}

.sharing {
    display: flex;
    border: 1px solid #eaeaea;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    margin-bottom: 32px;
}

.sharing .item {
    text-align: center;
    width: 50%;
    font-family: 'SF Pro Text';
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 22px 0px;
}

.sharing .item:not(:last-child) {
    border-right: 1px solid #eaeaea;
}

.tags {
    font-family: 'SF Pro Text';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.2px;
    margin-bottom: 34px;
}

.tags .tag {
    text-decoration: underline;
}

.author-bio {
    font-family: 'SF Pro Text';
    padding: 36px 0;
    border-top: 1px dotted;
    font-size: 16px;
    line-height: 1.6;
}

.author-bio .author-avatar {
    width: 71.25px;
    height: 71.25px;
    float: left;
    margin-right: 24px;
}

.read-more {
    padding: 73px 20px;
    margin: 0 auto;
}

.form-wrapper {
    border: 1px solid #000000;
    max-width: 640px;
    margin: 0 auto 111px;
    padding: 59px 51px;
    color: #090909;
    position: relative;
}

.form-wrapper .suggestion {
    font-family: 'SF Pro Text';
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 36px;
}

.form-wrapper::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 12px;
    background-color: #000;
    top: 0;
    left: 0;
}

.form {
    position: relative;
}

/* READ ME  */
.read-me-header {
    background-color: #ffd900;
    padding: 65px 140px 51px 140px;
    margin-bottom: 100px;
}

.version {
    font-family: 'SF Mono';
    font-size: 20px;
    margin-bottom: 14px;
}

.main-content {
    padding: 0 140px;
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin-bottom: 292px;
}

.how-to-use {
    text-align: justify;
}

.desc {
    font-family: 'SF Pro Text';
    font-size: 20px;
    line-height: 24px;
    border-left: 6px solid #000;
    padding-left: 26px;
    max-width: 923px;
}

.list-fonts {
    margin-top: 60px;
}

.font-desc .item::before {
    content: '-';
    margin-right: 10px;
}

.font-type {
    margin-bottom: 12px;
}

.font-item:not(:last-child) {
    margin-bottom: 48px;
}
