/* HEADER  */
.logo-header {
    display: block;
}

.logo-header-img {
    width: 397px;
    height: 39px;
    display: block;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    padding-left: 63.58px;
    padding-right: 61px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
}

.nav-menu {
    display: flex;
    gap: 36px;
}

.nav-link {
    font-family: 'New York', serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    display: block;
    padding: 49px 0;
    border-bottom: 2px solid #fff;
}

.nav-link:hover {
    border-bottom-color: #000;
}

.menu-bar {
    width: 24px;
    height: 17px;
    display: none;
    cursor: pointer;
}

.menu-bar__line {
    width: 100%;
    height: 2px;
    background-color: #000;
}

/* MAIN  */
.post-title--featured {
    font-size: 54px;
    padding: 44px 20px 32px 20px;
}

.post-desc--featured {
    font-size: 20px;
    padding: 0 20px;
    margin: 0 80px;
}

/* featured post  */
.featured-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 854px;
    margin: 0 auto;
    padding-top: 77px;
    padding-bottom: 34px;
}

/* all articles  */
.all-articles {
    padding: 64px 0;
}

.as-featured-in {
    display: flex;
    justify-content: center;
    gap: 13px;
    background-color: #000;
    padding: 18px 0;
    overflow: hidden;
}

.as-featured-in .feature {
    font-family: 'SF Pro Text';
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #fff;
    min-width: fit-content;
}

.as-featured-in .feature:nth-child(odd) {
    font-weight: 700;
}

/* FOOTER  */
.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 88px 20px 32px 20px;
}

.about-me {
    font-family: 'New York';
    line-height: 1.4;
    max-width: 488px;
    margin-top: 26px;
    margin-bottom: 32px;
}

.social-networks .network-link {
    color: inherit;
    text-decoration: underline;
    margin-right: 27px;
}

.social-networks .network-link:last-child {
    margin-right: 0;
}

.copyright {
    font-family: 'SF Pro Text';
    font-size: 12px;
    line-height: 1.4;
    margin-top: 64px;
}
